<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Explorer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/image/GitHubExplorer-logo.png">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://kiinlam.github.io/atStyle.css/custom.css">
    <link rel="stylesheet" href="css/atStyle.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>
  <body>
    <div id="app" layout="flex" flex-flow="column">
      <header layout="flex" border="bottom" bg="light">
        <a href="index.html" layout="flex">
          <img margin="10" src="image/GitHubExplorer-logo.png" alt="GitHubExplorer-logo" width="54px" height="46px">
          <h1 flex-align="self-center" font="f20">GitHub Explorer</h1>
        </a>
      </header>

      <template v-if="pageLoading">
        <section layout="flex" flex="1" flex-align="center">

          <!-- 加载界面 -->
          <div v-if="isLogining">loading...</div>

          <!-- 需要登录 -->
          <div v-else>
            <div>请登录</div>
            <div><input v-model.trim="token" placeholder="token"></div>
            <div><button @click="login">登录</button></div>
          </div>

        </section>
      </template>

      <!-- 主界面 -->
      <template v-else>
        <section class="main" layout="flex" flex="1">

          <nav class="nav-bar" border="right" text="center">
            <div class="nav-bar-link nav-user active" :class="{ active: nodeType === 'user' }"><img src="image/github.png" alt="user"></div>
            <div class="nav-bar-link nav-users" :class="{ active: nodeType === 'users' }"><img src="image/users.png" alt="users"></div>
          </nav>
          
          <!-- 登录用户 -->
          <section class="list-user" border="right" v-if="nodeType === 'user'">

            <div class="bg-minor active" padding="10" border="bottom">
              <div class="pointer" layout="flex" @click="userlistClick(currentNodeData)">
                <div class="img-wrap list-user-avatar">
                  <img class="avatar" :src="currentNodeData.avatarUrl" :alt="currentNodeData.login">
                </div>
                <div class="info-user ml-10">
                  <div>{{ currentNodeData.name }}</div>
                  <small color="minor">{{ currentNodeData.login }}</small>
                </div>
              </div>
              <div>
                <div class="mt-5 minor pointer link-active" font="f12" @click="showRepos">Repositories <span class="numerical flr">{{ currentNodeData.repositories.totalCount }}</span></div>
                <div class="mt-5 minor pointer link-active" font="f12">Stars <span class="numerical flr">{{ currentNodeData.starredRepositories.totalCount }}</span></div>
                <div class="mt-5 minor pointer link-active" font="f12">Followers <span class="numerical flr">{{ currentNodeData.followers.totalCount }}</span></div>
                <div class="mt-5 minor pointer link-active" font="f12">Following <span class="numerical flr">{{ currentNodeData.following.totalCount }}</span></div>
              </div>
            </div>

          </section>

          <!-- 用户列表 -->
          <section class="list-user" border="right" v-else-if="nodeType === 'users'">

            <div class="bg-minor active" padding="10" border="bottom">
              <div layout="flex">
                <div class="img-wrap user-avatar">
                  <img class="avatar" src="image/github.png" alt="username">
                </div>
                <div class="info-user ml-10">
                  <div class="pointer">大名鼎鼎</div>
                  <small color="minor">小名</small>
                </div>
              </div>
              <div>
                <div class="mt-10 minor pointer" font="f12">Repositories <span class="numerical flr">88</span></div>
                <div class="mt-10 minor pointer" font="f12">Stars <span class="numerical flr">88</span></div>
                <div class="mt-10 minor pointer" font="f12">Followers <span class="numerical flr">88</span></div>
                <div class="mt-10 minor pointer" font="f12">Following <span class="numerical flr">88</span></div>
              </div>
            </div>

            <div class="bg-minor" padding="10" border="bottom">
              <div layout="flex">
                <div class="img-wrap user-avatar">
                  <img class="avatar" src="image/github.png" alt="username">
                </div>
                <div class="info-user ml-10">
                  <div class="pointer">大名鼎鼎</div>
                  <small color="minor">小名</small>
                </div>
              </div>
            </div>

            <div class="bg-minor" padding="10" border="bottom">
              <div layout="flex">
                <div class="img-wrap user-avatar">
                  <img class="avatar" src="image/github.png" alt="username">
                </div>
                <div class="info-user ml-10">
                  <div class="pointer">大名鼎鼎</div>
                  <small color="minor">小名</small>
                </div>
              </div>
            </div>
  
          </section>

          <!-- 过滤列表 -->
          <template v-if="filterListData.nodes.length">
            <section class="list-filter" border="right" style="overflow-x: hidden; overflow-y: auto;">

              <template v-for="node in filterListData.nodes">
                <repo-component
                  class="bg-minor"
                  padding="10"
                  border="bottom"
                  font="f12"
                  :node="node"
                  :class="{active: node === currentSubjectData}"
                  @repo-click="repolistClick"
                ></repo-component>
              </template>

              <div class="pointer" padding="10" text="center" color="minor" v-if="filterListData.pending">正在加载...</div>
              <div class="pointer" padding="10" text="center" color="link" v-else-if="filterListData.pageInfo.hasNextPage" @click="loadmore">加载更多</div>
  
            </section>
          </template>

          <!-- 用户详情 -->
          <template v-if="subjectType === 'user'">
            <section class="detail-subject" layout="flex" flex="1">
              <!-- 基本信息 -->
              <div padding="10">
                <div class="img-wrap detail-subject-avatar">
                  <img class="avatar" :src="currentNodeData.avatarUrl" :alt="currentNodeData.login">
                </div>
                <div class="mt-10" font="f20">{{ currentNodeData.name }}</div>
                <div class="mb-10" font="f12" color="minor">{{ currentNodeData.login }}</div>
                <div class="mb-10" font="f12" color="minor">{{ currentNodeData.url }}</div>
                <div>{{ currentNodeData.bio }}</div>
                <div class="mt-10 pt-10" border="top" color="dark">
                  <div class="mb-5" v-if="currentNodeData.company">
                    <span class="icon icon-company"></span>
                    <span class="ml-5">{{ currentNodeData.company }}</span>
                  </div>
                  <div class="mb-5" v-if="currentNodeData.location">
                    <span class="icon icon-location"></span>
                    <span class="ml-5">{{ currentNodeData.location }}</span>
                  </div>
                  <div class="mb-5" v-if="currentNodeData.email">
                    <span class="icon icon-email"></span>
                    <span class="ml-5">{{ currentNodeData.email }}</span>
                  </div>
                  <div class="mb-5" v-if="currentNodeData.websiteUrl">
                    <span class="icon icon-website"></span>
                    <span class="ml-5">{{ currentNodeData.websiteUrl }}</span>
                  </div>
                </div>
                <div class="mt-10 pt-10" border="top" color="dark" v-if="currentNodeData.isHireable">
                  <div class="mb-5">
                    <span class="icon icon-hire"></span>
                    <span class="ml-5">正在寻找新的机会</span>
                  </div>
                </div>
                <div class="mt-10 pt-10" border="top" color="dark">
                  <div class="mb-5">
                    <span class="icon icon-clock"></span>
                    <span class="ml-5" font="f12" color="minor">{{ currentNodeData.createdAt }}加入</span>
                  </div>
                </div>
              </div>

              <!-- Github信息 -->
              <div class="pb-10 bg-minor" flex="1" style="overflow: auto">
                <p padding="10" border="bottom" bg="white">统计</p>

                <div layout="flex" border="bottom" text="center" bg="white">
                  <div flex="1" padding="10" border="right">
                    <div font="f24 w700">{{ currentNodeData.repositoriesContributedTo.totalCount }}</div>
                    <div font="f12" color="minor">Repo贡献</div>
                  </div>
                
                  <div flex="1" padding="10" border="right">
                    <div font="f24 w700">{{ currentNodeData.pullRequests.totalCount }}</div>
                    <div font="f12" color="minor">PR发起</div>
                  </div>
  
                  <div flex="1" padding="10" border="right">
                    <div font="f24 w700">{{ currentNodeData.issues.totalCount }}</div>
                    <div font="f12" color="minor">Issue提出</div>
                  </div>
  
                  <div flex="1" padding="10">
                    <div font="f24 w700">{{ currentNodeData.issueComments.totalCount }}</div>
                    <div font="f12" color="minor">Issue回复</div>
                  </div>
                </div>

                <template v-if="currentNodeData.organizations.nodes.length">
                  <div class="mt-10" border="top">
                    <p padding="10" border="bottom" bg="white">组织<span class="numerical">{{ currentNodeData.organizations.totalCount }}</span></p>
                    <div v-for="node in currentNodeData.organizations.nodes" bg="white">
                      <div layout="flex" padding="10" border="bottom">
                        <span class="w50"><img :src="node.avatarUrl" :alt="node.name"></span>
                        <span class="w200">{{ node.name }}</span>
                        <span class="w50">{{ node.members.totalCount }}人</span>
                        <span>{{ node.url }}</span>
                      </div>
                    </div>
                  </div>
                </template>

                <template v-if="currentNodeData.pinnedRepositories.nodes.length">
                  <div class="mt-10" border="top">
                    <p padding="10" border="bottom" bg="white">置顶Repo<span class="flr" font="f12" color="minor">来自用户设置</span></p>
                    <div class="pt-5 pb-5" layout="flex" flex-flow="wrap" flex-align="x-start" font="f12" border="bottom" bg="white">
                      <div class="w280" layout="flex" padding="10" box="border" v-for="node in currentNodeData.pinnedRepositories.nodes">
                        <div layout="flex" flex="1" flex-flow="column" padding="10" border="top-left bottom-right" box="border">
                          <div class="mt-5 mb-5" color="link" font="w700">{{ node.name }}</div>
                          <div color="minor" flex="1">{{ node.description }}</div>
                          <div class="mt-10" color="minor">
                              <template v-if="node.languages.nodes.length">
                                <span class="cake mr-3" :style="{ background: node.languages.nodes[0].color }"></span><span class="ml-5 mr-20">{{ node.languages.nodes[0].name }}</span>
                              </template>
                              <span class="icon icon-stars"></span><span class="ml-5 mr-20">{{ node.stargazers.totalCount }}</span>
                              <span class="icon icon-fork"></span><span class="ml-5 mr-20">{{ node.forks.totalCount }}</span>
                              <span class="icon icon-issue"></span><span class="ml-5 mr-20">{{ node.issues.totalCount }}</span>
                              <span class="mr-20" v-if="node.isFork">Forked</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>

                <template v-if="currentNodeData.repositories.nodes.length">
                  <div class="mt-10" border="top">
                    <p padding="10" border="bottom" bg="white">热门Repo<span class="flr" font="f12" color="minor">根据Stars排行</span></p>
                    <div class="pt-5 pb-5" layout="flex" flex-flow="wrap" flex-align="x-start" font="f12" border="bottom" bg="white">
                      <div class="w280" layout="flex" padding="10" box="border" v-for="node in currentNodeData.repositories.nodes">
                        <div layout="flex" flex="1" flex-flow="column" padding="10" border="top-left bottom-right">
                          <div class="mt-5 mb-5" color="link" font="w700">{{ node.name }}</div>
                          <div color="minor" flex="1">{{ node.description }}</div>
                          <div>
                            <div class="repo-tag" color="minor" v-if="node.isFork">
                              <span>Forked</span>
                            </div>
                          </div>
                          <div class="mt-10" layout="flex" flex-flow="wrap" color="minor">
                              <template v-if="node.languages.nodes.length">
                                <span>
                                  <span class="cake mr-3" :style="{ background: node.languages.nodes[0].color }"></span><span class="ml-5 mr-20">{{ node.languages.nodes[0].name }}</span>
                                </span>
                              </template>
                              <span>
                                <span class="icon icon-stars"></span><span class="ml-5 mr-20">{{ node.stargazers.totalCount }}</span>
                              </span>
                              <span>
                                <span class="icon icon-fork"></span><span class="ml-5 mr-20">{{ node.forks.totalCount }}</span>
                              </span>
                              <span>
                                <span class="icon icon-issue"></span><span class="ml-5 mr-20">{{ node.issues.totalCount }}</span>
                              </span>
                              <span v-if="node.isFork">
                                <span class="mr-20">Forked</span>
                              </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
                
              </div>
  
            </section>
          </template>

          <!-- 仓库详情 -->
          <template v-else-if="subjectType === 'repo'">
            <section class="detail-subject bg-minor" flex="1" v-if="currentSubjectData.status == 2">
              <div layout="flex" padding="10" bg="white" border="bottom">
                <div flex="1">
                  <div font="f18 w700">{{ currentSubjectData.name }}</div>
                  <small v-if="currentSubjectData.isFork">forked from {{ currentSubjectData.parent.nameWithOwner }}</small>
                </div>
                <div layout="flex" flex-align="y-start">
                  <div class="status-tag"><span>Watch</span><span>{{ currentSubjectData.watchers.totalCount }}</span></div>
                  <div class="status-tag ml-10"><span>Star</span><span>{{ currentSubjectData.stargazers.totalCount }}</span></div>
                  <div class="status-tag ml-10"><span>Fork</span><span>{{ currentSubjectData.forkCount }}</span></div>
                </div>
              </div>
  
              <div class="mt-10" border="top" bg="white">
                <!-- Code -->
                <div padding="10" border="bottom">Code<span class="flr" color="minor" font="f12">{{ currentSubjectData.licenseInfo.name }}</span></div>
  
                <div padding="10" border="bottom">
                  <div>{{ currentSubjectData.description }} <span class="ml-10" color="link">{{ currentSubjectData.homepageUrl }}</span></div>
                  <div class="mt-5" font="f12" color="minor" v-if="currentSubjectData.repositoryTopics.nodes.length">
                    Topics:<span class="ml-10" v-for="node in currentSubjectData.repositoryTopics.nodes">{{ node.topic.name }}</span>
                  </div>
                </div>
  
                <!-- 统计 -->
                <div layout="flex" padding="10" border="bottom" text="center">
                  <div flex="1" border="right">
                    <div font="f16 w700">{{ currentSubjectData.commits.history.totalCount }}</div>
                    <div color="minor">commits</div>
                  </div>
                  <div flex="1" border="right">
                    <div font="f16 w700">{{ currentSubjectData.branches.totalCount }}</div>
                    <div color="minor">branches</div>
                  </div>
                  <div flex="1" border="right">
                    <div font="f16 w700">{{ currentSubjectData.tags.totalCount }}</div>
                    <div color="minor">releases</div>
                  </div>
                  <div flex="1">
                    <div font="f16 w700">{{ (currentSubjectData.diskUsage / 1024).toFixed(2) }}</div>
                    <div color="minor">size(MB)</div>
                  </div>
                </div>

                <!-- 语言 -->
                <div padding="10" border="bottom" v-if="currentSubjectData.languages.nodes.length">
                  <div layout="flex" text="center">
                    <div flex="1" v-for="node in currentSubjectData.languages.nodes">
                      <span class="cake mr-3" :style="{background: node.color}"></span>{{ node.name }}
                    </div>
                  </div>
                </div>

                <div padding="10" border="bottom" font="f12" color="minor">
                  最后推送时间：{{ currentSubjectData.pushedAt }}
                </div>

              </div>
  
              <div class="mt-10" border="top" bg="white">
                <!-- Issues -->
                <div padding="10" border="bottom">Issues</div>
  
                <!-- open issues -->
                <div padding="10" border="bottom">
                  <p>Open<span class="numerical ml-10" color="minor">{{ currentSubjectData.issuesOpen.totalCount }}</span></p>
                </div>
  
                <!-- Closed issues -->
                <div padding="10" border="bottom">
                  <p>Closed<span class="numerical ml-10" color="minor">{{ currentSubjectData.issuesClosed.totalCount }}</span></p>
                </div>
  
              </div>
  
              <div class="mt-10" border="top" bg="white">
                <!-- Pull requests -->
                <div padding="10" border="bottom">Pull requests</div>
  
                <!-- Open pullRequests -->
                <div padding="10" border="bottom">
                  <p>Open<span class="numerical ml-10" color="minor">{{ currentSubjectData.pullRequestsOpen.totalCount }}</span></p>
                </div>
  
                <!-- Closed pullRequests -->
                <div padding="10" border="bottom">
                  <p>Closed<span class="numerical ml-10" color="minor">{{ currentSubjectData.pullRequestsClosed.totalCount }}</span></p>
                </div>
  
              </div>
  
            </section>
            <section class="detail-subject" flex="1" v-else>
              正在加载...
            </section>
          </template>

          <!-- 组织详情 -->
          <template v-else-if="subjectType === 'org'">

          </template>

          <!-- 默认 -->
          <template v-else>
            <section class="detail-subject" flex="1">
              <div layout="flex" padding="10" flex-align="center" box="border" style="height: 100%;">
                <div>欢迎使用 GitHub Explorer</div>
              </div>
            </section>
          </template>

        </section>
      </template>
    </div>
    <script src="js/vendors~index.chunk.js"></script>
    <script src="js/index.bundle.js"></script>
  </body>
</html>
