<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Explorer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/image/GitHubExplorer-logo.png">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://kiinlam.github.io/atStyle.css/custom.css">
    <link rel="stylesheet" href="css/atStyle.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>
  <body>
    <div id="app" layout="flex" flex-flow="column">
      <header layout="flex" border="bottom" bg="light">
        <a href="index.html" layout="flex">
          <img margin="10" src="image/GitHubExplorer-logo.png" alt="GitHubExplorer-logo" width="54px" height="46px">
          <h1 flex-align="self-center" font="f20">GitHub Explorer</h1>
        </a>
      </header>

      <template v-if="pageLoading">
        <section layout="flex" flex="1" flex-align="center">

          <!-- 加载界面 -->
          <div v-if="isLogining">loading...</div>

          <!-- 需要登录 -->
          <div v-else>
            <div>请登录</div>
            <div><input v-model.trim="token" placeholder="token"></div>
            <div><button @click="login">登录</button></div>
          </div>

        </section>
      </template>

      <!-- 主界面 -->
      <template v-else>
        <section class="main" layout="flex" flex="1">

          <nav class="nav-bar" border="right" text="center">
            <div class="nav-bar-link nav-user active" :class="{ active: nodeType === 'user' }"><img src="image/github.png" alt="user"></div>
            <div class="nav-bar-link nav-users" :class="{ active: nodeType === 'users' }"><img src="image/users.png" alt="users"></div>
          </nav>
          
          <!-- 登录用户 -->
          <section class="list-user" border="right" v-if="nodeType === 'user'">

            <div class="bg-minor active" padding="10" border="bottom">
              <div class="pointer" layout="flex">
                <div class="img-wrap list-user-avatar">
                  <img class="avatar" :src="loginUser.avatarUrl" :alt="loginUser.login">
                </div>
                <div class="info-user ml-10">
                  <div>{{ loginUser.name }}</div>
                  <small color="minor">{{ loginUser.login }}</small>
                </div>
              </div>
              <div>
                <div class="mt-10 minor pointer" font="f12">Repositories <span class="numerical flr">{{ loginUser.repositories.totalCount }}</span></div>
                <div class="mt-10 minor pointer" font="f12">Stars <span class="numerical flr">{{ loginUser.starredRepositories.totalCount }}</span></div>
                <div class="mt-10 minor pointer" font="f12">Followers <span class="numerical flr">{{ loginUser.followers.totalCount }}</span></div>
                <div class="mt-10 minor pointer" font="f12">Following <span class="numerical flr">{{ loginUser.following.totalCount }}</span></div>
              </div>
            </div>

          </section>

          <!-- 用户列表 -->
          <section class="list-user" border="right" v-else-if="nodeType === 'users'">

            <div class="bg-minor active" padding="10" border="bottom">
              <div layout="flex">
                <div class="img-wrap user-avatar">
                  <img class="avatar" src="image/github.png" alt="username">
                </div>
                <div class="info-user ml-10">
                  <div class="pointer">大名鼎鼎</div>
                  <small color="minor">小名</small>
                </div>
              </div>
              <div>
                <div class="mt-10 minor pointer" font="f12">Repositories <span class="numerical flr">88</span></div>
                <div class="mt-10 minor pointer" font="f12">Stars <span class="numerical flr">88</span></div>
                <div class="mt-10 minor pointer" font="f12">Followers <span class="numerical flr">88</span></div>
                <div class="mt-10 minor pointer" font="f12">Following <span class="numerical flr">88</span></div>
              </div>
            </div>

            <div class="bg-minor" padding="10" border="bottom">
              <div layout="flex">
                <div class="img-wrap user-avatar">
                  <img class="avatar" src="image/github.png" alt="username">
                </div>
                <div class="info-user ml-10">
                  <div class="pointer">大名鼎鼎</div>
                  <small color="minor">小名</small>
                </div>
              </div>
            </div>

            <div class="bg-minor" padding="10" border="bottom">
              <div layout="flex">
                <div class="img-wrap user-avatar">
                  <img class="avatar" src="image/github.png" alt="username">
                </div>
                <div class="info-user ml-10">
                  <div class="pointer">大名鼎鼎</div>
                  <small color="minor">小名</small>
                </div>
              </div>
            </div>
  
          </section>

          <template v-if="filterList.length">
            <!-- 过滤列表 -->
            <section class="list-filter" border="right">
  
              <div class="bg-minor active" padding="10" border="bottom">
                <div class="info-user">
                  <div class="pointer" color="link" font="w700">大名鼎鼎</div>
                  <small color="minor">小名</small>
                </div>
                <div class="mt-10" layout="flex" color="minor">
                  <!-- 语言 -->
                  <div class="mr-20" layout="flex">
                    <span class="icon icon-lang"></span>
                    <small class="ml-3">Javascript</small>
                  </div>
                  <!-- stars -->
                  <div class="mr-20" layout="flex">
                    <span class="icon icon-stars"></span>
                    <small class="ml-3">88</small>
                  </div>
                  <!-- fork -->
                  <div class="mr-20" layout="flex">
                    <span class="icon icon-fork"></span>
                    <small class="ml-3">99</small>
                  </div>
                </div>
              </div>
  
              <div class="bg-minor" padding="10" border="bottom">
                <div class="info-user">
                  <div class="pointer" color="link" font="w700">大名鼎鼎</div>
                  <small color="minor">小名</small>
                </div>
                <div class="mt-10" layout="flex" color="minor">
                  <!-- 语言 -->
                  <div class="mr-20" layout="flex">
                    <span class="icon icon-lang"></span>
                    <small class="ml-3">Javascript</small>
                  </div>
                  <!-- stars -->
                  <div class="mr-20" layout="flex">
                    <span class="icon icon-stars"></span>
                    <small class="ml-3">88</small>
                  </div>
                  <!-- fork -->
                  <div class="mr-20" layout="flex">
                    <span class="icon icon-fork"></span>
                    <small class="ml-3">99</small>
                  </div>
                </div>
              </div>
  
            </section>
          </template>

          <!-- 用户详情 -->
          <template v-if="subjectType === 'user'">
            <section class="detail-subject" layout="flex" flex="1">
              <!-- 基本信息 -->
              <div padding="10">
                <div class="img-wrap detail-subject-avatar">
                  <img class="avatar" :src="loginUser.avatarUrl" :alt="loginUser.login">
                </div>
                <div class="mt-10" font="f20">{{ loginUser.name }}</div>
                <div class="mb-10" font="f12" color="minor">{{ loginUser.login }}</div>
                <div class="mb-10" font="f12" color="minor">{{ loginUser.url }}</div>
                <div>{{ loginUser.bio }}</div>
                <div class="mt-10 pt-10" border="top" color="dark">
                  <div class="mb-5" v-if="loginUser.company">
                    <span class="icon icon-company"></span>
                    <span class="ml-5">{{ loginUser.company }}</span>
                  </div>
                  <div class="mb-5" v-if="loginUser.location">
                    <span class="icon icon-location"></span>
                    <span class="ml-5">{{ loginUser.location }}</span>
                  </div>
                  <div class="mb-5" v-if="loginUser.email">
                    <span class="icon icon-email"></span>
                    <span class="ml-5">{{ loginUser.email }}</span>
                  </div>
                  <div class="mb-5" v-if="loginUser.websiteUrl">
                    <span class="icon icon-website"></span>
                    <span class="ml-5">{{ loginUser.websiteUrl }}</span>
                  </div>
                </div>
                <div class="mt-10 pt-10" border="top" color="dark" v-if="loginUser.isHireable">
                  <div class="mb-5">
                    <span class="icon icon-hire"></span>
                    <span class="ml-5">正在寻找新的机会</span>
                  </div>
                </div>
                <div class="mt-10 pt-10" border="top" color="dark">
                  <div class="mb-5">
                    <span class="icon icon-clock"></span>
                    <span class="ml-5" font="f12" color="minor">{{ loginUser.createdAt }}加入</span>
                  </div>
                </div>
              </div>

              <!-- Github信息 -->
              <div class="pb-10" flex="1" style="overflow: auto">
                <p class="bg-minor pt-20" padding="10" border="bottom">统计</p>

                <div layout="flex" border="bottom" text="center">
                  <div flex="1" padding="10" border="right">
                    <div font="f24 w700">{{ loginUser.repositoriesContributedTo.totalCount }}</div>
                    <div font="f12" color="minor">Repo贡献</div>
                  </div>
                
                  <div flex="1" padding="10" border="right">
                    <div font="f24 w700">{{ loginUser.pullRequests.totalCount }}</div>
                    <div font="f12" color="minor">PR发起</div>
                  </div>
  
                  <div flex="1" padding="10" border="right">
                    <div font="f24 w700">{{ loginUser.issues.totalCount }}</div>
                    <div font="f12" color="minor">Issue提出</div>
                  </div>
  
                  <div flex="1" padding="10">
                    <div font="f24 w700">{{ loginUser.issueComments.totalCount }}</div>
                    <div font="f12" color="minor">Issue回复</div>
                  </div>
                </div>

                <template v-if="loginUser.organizations.nodes.length">
                  <p class="bg-minor pt-20" padding="10" border="bottom">组织<span class="numerical">{{ loginUser.organizations.totalCount }}</span></p>
                  <div v-for="node in loginUser.organizations.nodes">
                    <div layout="flex" padding="10" border="bottom">
                      <span class="w50"><img :src="node.avatarUrl" :alt="node.name"></span>
                      <span class="w200">{{ node.name }}</span>
                      <span class="w50">{{ node.members.totalCount }}人</span>
                      <span>{{ node.url }}</span>
                    </div>
                  </div>
                </template>

                <template v-if="loginUser.pinnedRepositories.nodes.length">
                  <p class="bg-minor pt-20" padding="10" border="bottom">固定Repo<span class="flr" font="f12" color="minor">来自用户设置</span></p>
                  <div class="mt-5" layout="flex" flex-flow="wrap" font="f12" border="bottom">
                    <div class="wp50" layout="flex" padding="5" box="border" v-for="node in loginUser.pinnedRepositories.nodes">
                      <div layout="flex" flex="1" flex-flow="column" padding="10" border="top-left bottom-right" box="border">
                        <div class="mt-5 mb-5" color="link" font="w700">{{ node.name }}</div>
                        <div color="minor" flex="1">{{ node.description }}</div>
                        <div class="mt-10" color="minor">
                            <template v-if="node.languages.nodes.length">
                              <span class="cake mr-3" :style="{ background: node.languages.nodes[0].color }"></span><span class="ml-5 mr-20">{{ node.languages.nodes[0].name }}</span>
                            </template>
                            <span class="icon icon-stars"></span><span class="ml-5 mr-20">{{ node.stargazers.totalCount }}</span>
                            <span class="icon icon-fork"></span><span class="ml-5 mr-20">{{ node.forks.totalCount }}</span>
                            <span class="icon icon-issue"></span><span class="ml-5 mr-20">{{ node.issues.totalCount }}</span>
                            <span class="mr-20" v-if="node.isFork">Forked</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>

                <template v-if="loginUser.repositories.nodes.length">
                  <p class="bg-minor pt-20" padding="10" border="bottom">热门Repo<span class="flr" font="f12" color="minor">根据Stars排行</span></p>
                  <div class="mt-5" layout="flex" flex-flow="wrap" font="f12" border="bottom">
                    <div class="wp50" layout="flex" padding="5" box="border" v-for="node in loginUser.repositories.nodes">
                      <div layout="flex" flex="1" flex-flow="column" padding="10" border="top-left bottom-right">
                        <div class="mt-5 mb-5" color="link" font="w700">{{ node.name }}</div>
                        <div color="minor" flex="1">{{ node.description }}</div>
                        <div class="mt-10" color="minor">
                            <template v-if="node.languages.nodes.length">
                              <span class="cake mr-3" :style="{ background: node.languages.nodes[0].color }"></span><span class="ml-5 mr-20">{{ node.languages.nodes[0].name }}</span>
                            </template>
                            <span class="icon icon-stars"></span><span class="ml-5 mr-20">{{ node.stargazers.totalCount }}</span>
                            <span class="icon icon-fork"></span><span class="ml-5 mr-20">{{ node.forks.totalCount }}</span>
                            <span class="icon icon-issue"></span><span class="ml-5 mr-20">{{ node.issues.totalCount }}</span>
                            <span class="mr-20" v-if="node.isFork">Forked</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
                
              </div>
  
            </section>
          </template>

          <!-- 仓库详情 -->
          <template v-else-if="subjectType === 'repo'">
            <section class="detail-subject" flex="1">
              <div layout="flex" padding="10">
                <div flex="1" font="f20 w700">repo name</div>
                <div layout="flex" flex-align="y-center">
                  <div class="status-tag"><span>Watch</span><span>88</span></div>
                  <div class="status-tag"><span>Stars</span><span>88</span></div>
                  <div class="status-tag"><span>Fork</span><span>88</span></div>
                </div>
              </div>
  
              <div>
                <!-- Code -->
                <div class="bg-minor" padding="10">Code<span class="flr" color="minor" font="f12">MIT</span></div>
  
                <p padding="10" border="bottom">一句话简介</p>
  
                <!-- 语言 -->
                <div padding="10" border="bottom">
                  <div class="mb-10" layout="flex" text="center">
                    <div flex="1"><span class="cake mr-3" style="background: #F14F21"></span>Javascript<span class="pl-5" color="minor">60%</span></div>
                    <div flex="1"><span class="cake mr-3" style="background: #FFB800"></span>HTML<span class="pl-5" color="minor">20%</span></div>
                    <div flex="1"><span class="cake mr-3" style="background: #00A4EE"></span>CSS<span class="pl-5" color="minor">10%</span></div>
                    <div flex="1"><span class="cake mr-3" style="background: #7EB900"></span>Python<span class="pl-5" color="minor">5%</span></div>
                    <div flex="1"><span class="cake mr-3" style="background: #C0C0C0"></span>Shell<span class="pl-5" color="minor">3%</span></div>
                    <div flex="1"><span class="cake mr-3" style="background: #C0C0C0"></span>Other<span class="pl-5" color="minor">2%</span></div>
                  </div>
                  <div layout="flex">
                    <div class="line" style="width:60%;background: #F14F21"></div>
                    <div class="line" style="width:20%;background: #FFB800"></div>
                    <div class="line" style="width:10%;background: #00A4EE"></div>
                    <div class="line" style="width:5%;background: #7EB900"></div>
                    <div class="line" style="width:3%;background: #C0C0C0"></div>
                    <div class="line" style="width:2%;background: #C0C0C0"></div>
                  </div>
                </div>
  
                <!-- 统计 -->
                <div layout="flex" padding="10" border="bottom" text="center">
                  <div flex="1" border="right">
                    <div font="f16 w700">128</div>
                    <div color="minor">commits</div>
                  </div>
                  <div flex="1" border="right">
                    <div font="f16 w700">12</div>
                    <div color="minor">branches</div>
                  </div>
                  <div flex="1" border="right">
                    <div font="f16 w700">24</div>
                    <div color="minor">releases</div>
                  </div>
                  <div flex="1">
                    <div font="f16 w700">12</div>
                    <div color="minor">contributors</div>
                  </div>
                </div>
  
              </div>
  
              <div>
                <!-- Issues -->
                <div class="bg-minor" padding="10">Issues</div>
  
                <!-- open issues -->
                <div padding="10" border="bottom">
                  <p>Open<span class="numerical ml-10" color="minor">3721</span></p>
                </div>
  
                <!-- Closed issues -->
                <div padding="10" border="bottom">
                  <p>Closed<span class="numerical ml-10" color="minor">3721</span></p>
                </div>
  
              </div>
  
              <div>
                <!-- Pull requests -->
                <div class="bg-minor" padding="10">Pull requests</div>
  
                <!-- Open -->
                <div padding="10" border="bottom">
                  <p>Open<span class="numerical ml-10" color="minor">3721</span></p>
                </div>
  
                <!-- Closed issues -->
                <div padding="10" border="bottom">
                  <p>Closed<span class="numerical ml-10" color="minor">3721</span></p>
                </div>
  
              </div>
  
            </section>
          </template>

          <!-- 组织详情 -->
          <template v-else-if="subjectType === 'org'">

          </template>

          <!-- 默认 -->
          <template v-else>
            <section class="detail-subject" flex="1">
              <div layout="flex" padding="10" flex-align="center" box="border" style="height: 100%;">
                <div>欢迎使用 GitHub Explorer</div>
              </div>
            </section>
          </template>

        </section>
      </template>
    </div>
    <script src="js/vendors~index.chunk.js"></script>
    <script src="js/index.bundle.js"></script>
  </body>
</html>
