<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Explorer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/image/GitHubExplorer-logo.png">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://kiinlam.github.io/atStyle.css/custom.css">
    <link rel="stylesheet" href="css/atStyle.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>
  <body>
    <div id="app" layout="flex" flex-flow="column">
      <header layout="flex" border="bottom" bg="light">
        <a href="index.html" layout="flex">
          <img margin="10" src="image/GitHubExplorer-logo.png" alt="GitHubExplorer-logo" width="54px" height="46px">
          <h1 flex-align="self-center" font="f20">GitHub Explorer</h1>
        </a>
        <div flex="1"></div>
        <div flex-align="self-center" v-if="loginUser">
          <span class="pointer" padding="10" color="link" @click="logout">登出</span>
        </div>
      </header>

      <template v-if="pageLoading">
        <section layout="flex" flex="1" flex-align="center">

          <!-- 加载界面 -->
          <div v-if="isLogining">loading...</div>

          <!-- 需要登录 -->
          <div class="login" v-else>
            <div class="mb-10" font="f18">请登录</div>
            <div><input padding="10" font="f16" v-model.trim="token" placeholder="请输入GitHub token"></div>
            <div class="mt-10" layout="flex" flex-align="x-between">
              <a href="https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/#creating-a-token" flex-align="self-center" target="_blank">创建GitHub token >></a>
              <button @click="login">登录</button>
            </div>
          </div>

        </section>
      </template>

      <!-- 主界面 -->
      <template v-else-if="loginUser">
        <section class="main" layout="flex" flex="1">

          <nav class="nav-bar" border="right" text="center">
            <div class="nav-bar-link nav-user active" :class="{ active: navType === 'user' }"><img src="image/github.png" alt="user"></div>
            <div class="nav-bar-link nav-users" :class="{ active: navType === 'users' }"><img src="image/users.png" alt="users"></div>
          </nav>
          
          <!-- 登录用户 -->
          <section class="list-user" border="right" v-if="navType === 'user'">

            <div class="bg-minor active" padding="10" border="bottom">
              <div class="pointer" layout="flex" @click="userMenuClick(currentNodeData)">
                <div class="img-wrap list-user-avatar">
                  <img class="avatar" :src="currentNodeData.avatarUrl" :alt="currentNodeData.login">
                </div>
                <div class="info-user ml-10">
                  <div>{{ currentNodeData.name }}</div>
                  <small color="minor">{{ currentNodeData.login }}</small>
                </div>
              </div>
              <div>
                <div class="mt-5 minor pointer link-active" font="f12" @click="showRepoList('repo')">Repositories <span class="numerical flr">{{ currentNodeData.repositories.totalCount }}</span></div>
                <div class="mt-5 minor pointer link-active" font="f12" @click="showRepoList('star')">Stars <span class="numerical flr">{{ currentNodeData.starredRepositories.totalCount }}</span></div>
                <div class="mt-5 minor pointer link-active" font="f12" @click="showFollowerList('follower')">Followers <span class="numerical flr">{{ currentNodeData.followers.totalCount }}</span></div>
                <div class="mt-5 minor pointer link-active" font="f12" @click="showFollowerList('following')">Following <span class="numerical flr">{{ currentNodeData.following.totalCount }}</span></div>
              </div>
            </div>

          </section>

          <!-- 用户列表 -->
          <section class="list-user" border="right" v-else-if="navType === 'users'">

            <div class="bg-minor active" padding="10" border="bottom">
              <div layout="flex">
                <div class="img-wrap user-avatar">
                  <img class="avatar" src="image/github.png" alt="username">
                </div>
                <div class="info-user ml-10">
                  <div class="pointer">大名鼎鼎</div>
                  <small color="minor">小名</small>
                </div>
              </div>
              <div>
                <div class="mt-10 minor pointer" font="f12">Repositories <span class="numerical flr">88</span></div>
                <div class="mt-10 minor pointer" font="f12">Stars <span class="numerical flr">88</span></div>
                <div class="mt-10 minor pointer" font="f12">Followers <span class="numerical flr">88</span></div>
                <div class="mt-10 minor pointer" font="f12">Following <span class="numerical flr">88</span></div>
              </div>
            </div>

            <div class="bg-minor" padding="10" border="bottom">
              <div layout="flex">
                <div class="img-wrap user-avatar">
                  <img class="avatar" src="image/github.png" alt="username">
                </div>
                <div class="info-user ml-10">
                  <div class="pointer">大名鼎鼎</div>
                  <small color="minor">小名</small>
                </div>
              </div>
            </div>

            <div class="bg-minor" padding="10" border="bottom">
              <div layout="flex">
                <div class="img-wrap user-avatar">
                  <img class="avatar" src="image/github.png" alt="username">
                </div>
                <div class="info-user ml-10">
                  <div class="pointer">大名鼎鼎</div>
                  <small color="minor">小名</small>
                </div>
              </div>
            </div>
  
          </section>

          <!-- 过滤列表 -->
          <list-filter-component 
            :list-type="subjectType" 
            :node-data="currentSubjectData" 
            :list-data="filterListData" 
            @repo-click="repoListClick" 
            @follower-click="followerListClick" 
            @loadmore="loadmore" 
          ></list-filter-component>

          <!-- 用户详情 -->
          <user-detail-component
            v-if="subjectType === 'user'"
            :node-data="currentNodeData" 
          ></user-detail-component>

          <!-- 组织详情 -->
          <template v-else-if="subjectType === 'org'">

          </template>

          <subject-detail-component 
            v-else
            :node-data="currentSubjectData"
          ></subject-detail-component>

          <!-- 默认 -->
          <section class="detail-subject" flex="1" v-else>
            <div layout="flex" padding="10" flex-align="center" box="border" style="height: 100%;">
              <div>欢迎使用 GitHub Explorer</div>
            </div>
          </section>

        </section>
      </template>
    </div>
    <script src="js/vendors~index.chunk.js"></script>
    <script src="js/index.bundle.js"></script>
  </body>
</html>
